@charset 'utf-8';




/*
 * Resets
 * ----------------------------------------- */

html,
body {
  overflow-x: hidden;
	font-family: "Lato", "HelveticaNeue", "Arial", sans-serif;	
	font-weight: 300;	
}

em {
	font-weight: 700;	
	font-style: normal;
}

h1, h2, h3,
p,
ul, li,
blockquote  {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  outline: none;
	opacity: .5;
	font-weight: 700;	
	text-decoration: none;
}

a.visible-desktops {
	opacity: 1;
}

a:hover {
	opacity: 1;
}


a img { /* Remove border around linked images in IE10 and below */
  border: 0;
}



/*
 * Transitions & Animations
 * ----------------------------------------- */

a, a:hover {
	transition: border .2s ease-in-out;
}



/*
 * Basic
 * ----------------------------------------- */

html {
  font-size: 20px;
}

body {
  margin: 0;
  background: #0c0c0c;
  color: #fff;
  font-family: 'Lato', 'helvetica', sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-size: 1.12rem;
}



/*
 * Layout
 * ----------------------------------------- */
  a.slider_nav.slider1_nav.down {
      top: 100%;
      left: 50%;
      transform: rotate(90deg);
  }

 .language-container {
    /* font-weight: bold; */
    /* color: rgba(255, 255, 255, 0.38); */
    font-size: 0.8em;
    padding: 5px;
    background: rgba(0, 0, 0, 0.55);
    right: 22px;
    position: fixed;
    z-index: 100;
    /* width: 200px; */
    /* top: 5px; */
    /* padding: 9px; */
    /* padding-top: 2px; */
}

.language-container div {
    padding-left: 7px;
    float: left;
    padding-right: 6px;
    /* margin: 6px; */
    margin-bottom: 6px;
    margin-top: 6px;
}

.language-container a {
  color: rgba(255, 255, 255, 0.38);
  border: none;
}
.language-container a:hover {
  border: none;
}

.language-container .de {
  border-right: 1px solid #AFAFAF;
}

.language-container .active a {
    color: #FFF;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

section:last-of-type {
  margin-bottom: 0;
}

[class*='span'] {
  float: left;
	padding: 0;
 xmargin: 0 2rem;
}

.span-0 {
  width: 90%;
	padding: 0 5%;
  left: calc( 25% - 4rem );
	font-size: 1.75rem;
	margin-bottom: 5rem;
	text-align: center;
}

.info .span-0 a {
	color: #000;
}


a, a:visited {
  color: #fff;
}

.info .span-0.logos {
	margin-bottom: 0; 
}

.info .span-0.logos a {
	border: 0;
	margin: 2rem;
}

.info .span-0.logos a {	opacity: .5; }
.info .span-0.logos a:hover {	opacity: 1; }


.logos img {
	margin: 2rem 0rem;
	vertical-align: middle;
}

.span-1 {
  width: calc( 50% - 0rem );
	padding: 3rem 0;
	font-size: 1.25rem;	
}

.span-1 img {
  width: 70%;
	margin: .5rem 15%;
	text-align: center;
}

.span-1:nth-of-type(3) img {
	padding: 2rem 0;
	width: 
	
}

.span-1:nth-of-type(4) {
	clear: both;
}

.span-right {
  margin-top: 9rem;
}



/*
 * Header
 * ----------------------------------------- */


section.header {
  background-color: #333;
	color: white;
	text-align: center;	
}

section.video {
  background-color: #444;
	color: white;
	text-align: center;	
	padding: 0;
	line-height: 0;
}

section.video .container {
	width: 100%;
	max-width: 100%;
}

/*
 * Project title
 */

.project-title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.3;
}

.project-title-main {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
}

/*
 * Blockquotes
 */

.blockquotes {
  margin: 0 auto;
  max-width: 48rem;
}

blockquote {
  margin-top: 7rem;
  margin-bottom: 1rem;
  font-size: 1.375rem;
}

.blockquote-author,
.blockquote-year {
  font-size: 1rem;
  font-weight: bold;
}

.blockquote-year {
  display: inline-block;
  margin-left: .25rem;
  font-weight: normal;
  letter-spacing: .1em;
}

.blockquote-info {
  position: absolute;
  right: 2rem;
  bottom: 5vh;
  font-size: .875rem;
}



/*
 * Sections
 * ----------------------------------------- */

/*
 * About
 */

.about {
  background-color: #333;
}

.about.clearfix {
  margin-bottom: 0px;
}


/*
 * Info
 */

.info {
  background-color: #ccc;
	color: #000;
}

.info .span-0 {
	width: 84%; 
	padding: 0;
	margin: 3rem 8%;
}


/*
 * Vis
 */

.vis {
 padding: 0;
}

.vis .container {
  min-height: 300px;
  box-sizing: border-box;
  position: relative;
}

.link-to-vis {
  position: absolute;
  top: calc( 50% - 8rem );
  left: calc( 50% - 8rem );
  display: inline-block;
  width: 16rem;
  height: 16rem;
  background-color: #f6f1d6;
  border-radius: 100%;
  text-align: center;
  color: #000;
  display: table;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.2;
}

.link-to-vis-inner {
  display: table-cell;
  vertical-align: middle;
}

.link-to-vis-title {
  font-size: 2rem;
  line-height: 1.25;
}

.link-to-vis:hover {
  background-color: rgb(51, 51, 51) !important;
  color: #fff !important;
}

.link-to-vis:hover .arrow-down-black:after {
 background-image: url( '../img/arrow-down.svg' );
}

.vis-info {
	text-align: center;
	font-size: 1rem;
	color: #fff;
	padding: 1em;
}

.msg-no-mobile .arrow {
  margin-top: 2rem;
  margin-bottom: 1.75rem;
}

.msg-no-mobile .link-to-vis {
  background-color: #555;
}

.msg-no-mobile .link-to-vis:hover {
  color: #000;
}

.msg-no-mobile .link-to-vis:hover .arrow-down-black:after {
 background-image: url( '../img/arrow-down-black.svg' );
}


/*
 * Research
 */

.research {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #222;
  margin: 0;
}

.research .container {
  text-align: center;
	font-size: 1.35em;
  max-width: 48rem;
}


/*
 * Imprint
 */

.imprint {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #888;
}

.imprint p {
  margin-bottom: .75rem;
}



/*
 * Text-level elements
 * ----------------------------------------- */

h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2:first-of-type {
  margin-top: 0;
}

h3 {
  font-size: 1rem;
	font-weight: 900;
  margin-top: 1.5rem;
  margin-bottom: .75rem;
}

h4 {
	font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

p {
  margin-bottom: 1.5rem;
}

p:last-of-type {
  margin-bottom: 0;
}



/*
 * Links & Buttons
 * ----------------------------------------- */

a:hover {
  text-decoration: underline;
}

.btn-feedback {
  display: inline-block;
  margin-top: 1.5rem;
  border: 2px solid rgba( 255,255,255, .5 );
  padding: .2rem 1rem .25rem;
}

.btn-feedback:hover {
  border: 2px solid rgba( 255,255,255, 1 );
}




/*
 * Etc
 * ----------------------------------------- */

ul li {
  margin-bottom: 1.5rem;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

img {
  width: 100%;
  height: auto;
}

.arrow {
  position: relative;
}

.arrow:after {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  content: '';
  display: block;
  background-size: 1.5rem auto;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: -6rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.arrow-right:after {
  bottom: -6rem;
  background-image: url( '../img/arrow-right.svg' );
}

.arrow-down:after {
  bottom: -3rem;
  background-image: url( '../img/arrow-down.svg' );
}

.arrow-down-black:after {
  width: 1.25rem;
  height: 1.25rem;
  background-size: 1.25rem auto;
  bottom: -1.5rem;
  background-image: url( '../img/arrow-down-black.svg' );
}

.visible-desktop {
  -webkit-target-new: window;
  display: inline-block;
}

.hidden-desktop {
  display: none;
}



@media all and (max-width: 1800px) {   html { font-size: 18px; }   .container { max-width: 1200px; }  }
@media all and (max-width: 1500px) {   html { font-size: 16px; }   .container { max-width: 1000px; }  }
@media all and (max-width: 1300px) {   html { font-size: 15px; }   }
@media all and (max-width: 1170px) {   html { font-size: 14px; }   }
@media all and (max-width:  740px) {   html { font-size: 13px; }   }
@media all and (max-width:  500px) {   html { font-size: 12px; }   }







@media all and (max-width: 1000px) {

  .blockquotes {
    max-width: 38rem;
  }

  .visible-desktop {
    display: none;
  }

  .hidden-desktop {
    display: inline-block;
  }

}



@media all and (max-width: 740px) {

  .span-1 {
    width: 100%;
  }

  .span-right {
    margin-top: 1.5rem;
  }

  .arrow-right:after {
    display: none;
  }

	.span-1 img {
	  width: 50%;
		margin: 0 25%;
	}
	
	.span-1 {
		padding: 1rem 0;
	}

}



@media all and (max-width: 600px) {

  .blockquote-info {
    display: none;
  }

	.info .span-0 {
		width: 100%; 
		margin: 3rem 0
	}


	.span-1 img {
	  width: 50%;
		margin: 0 25%;
	}
	
	.span-1 {
		padding: 1rem 0;
	}
	
	.vis .container {
		width: 100%;
	}

}



@media all and (max-width: 400px) {

  .slider_nav {
    display: none;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-title-main {
    font-size: 2.5rem;
  }
	
	.info .span-0 {
		width: 100%; 
		margin: 3rem 0
	}
	
	
	.span-1 {
		padding: 1rem 0;
	}
	
	.vis .container {
		width: 100%;
	}
	

}